<style>
    .d-none {
        display: none;
    }

    .stars-outer {
        position: relative;
        display: inline-block;
    }

    .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
    }

    .stars-outer::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #ccc;
    }

    .stars-inner::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #f8ce0b;
    }
</style>
<div class="container mx-auto flex flex-wrap py-6">

    <!-- Post Section -->
    <section class="w-full md:w-2/3 mx-auto flex flex-col items-center px-3">

        <article class="flex flex-col shadow my-4">
            <!-- Article Image -->
            <a href="#" class="hover:opacity-75">
                <img style="width:100%;" src="https://source.unsplash.com/collection/1346951/1000x500?sig=1">
            </a>
            <div class="bg-white flex flex-col justify-start p-6">
                <div class="d-none" id="avg-rates">{{avis.[0].avgRates}}</div>
                <div class="w-full flex justify-center" id="avis">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>
                <div class="d-none bg-black bg-opacity-50 fixed inset-0 overflow-y-scroll flex w-full h-screen justify-center items-center" id="overlay">
                    <form action="/avis/createAvis/{{article.id}}" method="post" class="w-3/12 mx-auto">
                        <svg class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full" id="close" fill="white" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <input type="text" name="username" class="bg-gray-50 text-gray-900 text-sm rounded outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 block my-2" placeholder="username">
                        <input type="number" name="avisNumber" class="bg-gray-50 text-gray-900 text-sm rounded outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 block my-2" placeholder="1-5 stars" min="0" max="5">
                        <input type="submit" value="submit" class="focus:outline-none cursor-pointer text-white bg-yellow-300 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900 my-2">
                    </form>
                </div>
                <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">{{article.categorie.name}}</a>
                <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{article.title}}</a>
                <p href="#" class="text-sm pb-8">Published on : {{article.createdAt}}</p>
                <h1 class="text-2xl font-bold pb-3">Introduction</h1>
                <p class="pb-3">{{article.content}}</p>
                <h1 class="text-2xl font-bold pb-3">Heading</h1>
                <p class="pb-3">{{article.content2}}.</p>
                <h1 class="text-2xl font-bold pb-3">Conclusion</h1>
                <p class="pb-3">{{article.content3}}</p>
            </div>
        </article>
        <form action="/commentaire/createComment/{{article.id}}" method="post">
            <input type="text" name="username" style="border: 2px black solid;" placeholder="username">
            <input type="text" name="contenue" style="border: 2px black solid;" placeholder="comment content">
            <input type="submit" value="submit" style="border: 2px black solid;">
        </form>
        {{#each comments}}
        <div class="w-full flex flex-col text-start md:text-left md:flex-row shadow bg-white mt-3 mb-3 p-3">
            <div class="flex-1 flex flex-col justify-center md:justify-start">
                <p class="font-semibold text-2xl">{{username}}</p>
                <p class="pt-2">{{contenue}}</p>
            </div>
        </div>
        {{/each}}
    </section>
</div>
<script>
    const avgRates = +document.querySelector('#avg-rates').textContent
    console.log(avgRates)
    const starsTotal = 5
    document.addEventListener('DOMContentLoaded', () => {
        const starPer = (avgRates / starsTotal) * 100
        const starPerRou = `${Math.round(starPer / 10) * 10}%`
        document.querySelector('.stars-inner').style.width = starPerRou
            const overlay = document.querySelector('#overlay')
            const delBtn = document.querySelector('#avis')
            const closeBtn = document.querySelector('#close')
            const toggleModal = () => {
                overlay.classList.toggle('d-none') 
            }
            delBtn.addEventListener('click', toggleModal)
            closeBtn.addEventListener('click', toggleModal)
    })
</script>